body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(img/im1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed
}

.main-container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;

}

.title {
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 20px;

}

#logo {
  width: 200px;
  height:  200px;
  border-radius: 3%; 
  object-fit: cover;
  box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}

img{
  width: 200px;
  height: 150px;
  margin-top: 10px;
  width: 250px;
  border-radius: 2%;
  object-fit: cover;
}

h1 {
  font-size: 3rem;
  color: #FF9800;
  text-shadow: 0 3px 15px rgba(0, 0, 0, 0.2); 
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 3px 15px rgba(0,0,0,0.3);
  gap: 10px;



}

form{
  display: flex;
  flex-direction: row;
}

h2{
  font-size: 20px;
  font-weight: 600;
}

select, input[type="text"] {
 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #FF9800;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  margin-left: 10px;
}

button:hover {
  background-color: #FF6F61;
}

#btn{
  background-color: #4CAF50;
}

#btn:hover {
  background-color: #4CAF50;
  opacity: 0.7; 
}

#ingredientResults > div,
#countryResults > div,
#recipeResults > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
#recipe-list {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrage horizontal */
  justify-content: center; /* Centrage vertical si hauteur définie */
  text-align: center;
}

#recipeDetails {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrage horizontal */
  justify-content: center;
  text-align: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}


#recipeDetails img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
}

#recipeDetails h2 {
  color: #FF9800;
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

#recipeDetails h3 {
  font-size: 1.3rem;
  margin-top: 20px;
  color: #4CAF50;
}

#recipeDetails p {
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 15px;
}

#recipeDetails ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

#recipeDetails ul li {
  background: #f5f5f5;
  margin-bottom: 8px;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
